In [2]:
a=10
if a > 10 :
    print("yes a is greater than 10")

In [4]:
a > 10

False

In [5]:
a=10
if a >= 10 :
    print("yes a is greater than 10")

yes a is greater than 10

In [6]:
a >= 10

True

In [13]:
b = 20
if b > 30 : 
    print("yes b is greater thean 30")
elif b < 40 :
    print("yes b is greater than 30")
else :
    print("yes this is my defalt value")

yes b is greater than 30

In [10]:
b > 30

False

In [11]:
b<40

True

In [15]:
c = 20
if c > 30 : 
    print("yes c is greater thean 30")
elif c > 40 :
    print("yes c is greater than 40")
elif c > 100 :
    print("yes c is grater than 100")
else :
    print("yes this is my defalt")

yes this is my defalt

In [19]:
c > 30

False

In [20]:
c > 40

False

In [21]:
c > 100

False

In [22]:
input()

 450

'450'

In [23]:
int(input())

 450

450

In [24]:
int ('45')

45

In [30]:
c = int(input())
if c > 30 : 
    print("yes c is greater thean 40")
elif c > 40 :
    print("yes c is greater than 30")
elif c > 100 :
    print("yes c is grater than 100")
else :
    print("yes this is my defalt")

 10

yes this is my defalt

WHILE LOOP And FOR LOOP

In [1]:
n = 6
i = 1
while i < n :
    print(i)
    i = i+1

1
2
3
4
5

In [2]:
n = 6
i = 1
while i < n :
    print(i)
    i = i+1 
else :
    print("yes this is my else")

1
2
3
4
5
yes this is my else

In [12]:
n = 6
i = 1
while i < n :
    print(i)
    i = i+1
    if i == 5 :
        break 
else :
    print("this is my else")

1
2
3
4

In [18]:
s = "amitkumar"
for i in s :
    print(i)

a
m
i
t
k
u
m
a
r

In [19]:
s = "amit"
for name in s :
    print(name)

a
m
i
t

In [20]:
l = [1,2,3,4,5, "amit", "kumar", 36.987, True, 4+5j]

In [22]:
for i in l :
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'complex'>

In [28]:
for i in l :
    print(type(i)) 
else :
    print("your execuation has been done!")

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'complex'>
your execuation has been done!

In [29]:
for i in l :
    print(type(i)) 
    if i == 5 :
        break
else :
    print("your execuation has been done!")

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

In [30]:
l

[1, 2, 3, 4, 5, 'amit', 'kumar', 36.987, True, (4+5j)]

In [31]:
for i in l :
    print(type(i)) 
    if i == 5 :
        continue 
else :
    print("your execuation has been done!")

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'complex'>
your execuation has been done!

In [32]:
for i in l :
    print(type(i)) 
    if i == 5 :
        continue 
        print(i)
else :
    print("your execuation has been done!")

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'complex'>
your execuation has been done!

In [33]:
range(15)

range(0, 15)

In [34]:
list(range(15))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [36]:
for i in range(15) :
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14